
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDataSubmit</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-6">
            <h4>Results from ViewData</h4>
            @Html.Raw(ViewData["name"] + "<br>" + ViewData["address"] + "<br>" + ViewData["course"] + "<br>" + ViewData["year"])

        </div>
    </div>
</body>
</html>

