@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-3">
            <partial name="/Views/Home/_LeftBar.cshtml" />
        </div>
        <div class="col-sm-9">

            This is the home page
        </div>
    </div>
</div>