@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <body>
        <h1>Lesson 3 Demos</h1>
        <!--<script src="js/functions_and_prototypes.js"></script>
        <script src="js/datatypes.js"></script>
        <script src="js/functions.js"></script>
        <script src="js/IIFEs_Callbacks_Closures.js"></script>
        <script src="js/IIFEs_Functions.js"></script>
        <script src="js/maps_and_classes.js"></script>-->
        <script src="js/promises.js"></script>
    </body>
</html>
