@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-6">
            <h4>Form Submit using GET</h4>
            <form method="get" action="Home/FormGet">
                <div class="row">
                    <div class="col-sm-4">Student Name</div>
                    <div class="col-sm-8"><input class="form-control" name="name" /></div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Student Email</div>
                    <div class="col-sm-8"><input class="form-control" name="email" /></div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Student Course</div>
                    <div class="col-sm-8"><input class="form-control" name="course" /></div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Student Address</div>
                    <div class="col-sm-8"><input class="form-control" name="address" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-6">
            <h4>Form Submit using POST</h4>
            <form method="post" action="Home/FormPost?temp=t">
                <div class="row">
                    <div class="col-sm-4">Student Name</div>
                    <div class="col-sm-8"><input class="form-control" name="name" /></div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Student Email</div>
                    <div class="col-sm-8"><input class="form-control" name="email" /></div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Student Course</div>
                    <div class="col-sm-8"><input class="form-control" name="course" /></div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Student Address</div>
                    <div class="col-sm-8"><input class="form-control" name="address" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
