@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row clearfix">
        <br />
        <div class="col-sm-12">
            <a href="Home/StudentAsString">Student Data as String using ContentResult</a><br />
            <a href="Home/StudentAsView">Student Data as ContentView</a><br />
            <a href="Home/StudentAsRedirectResult">Student Search using RedirectResult</a><br />
            <a href="Home/StudentAsRedirectToRouteResult">Student Data using RedirectToRouteResult</a><br />
            <a href="Home/StudentAsFileResult">Student Data using FileResult</a><br />
            <a href="Home/StudentAsJSONResult">Student Data using JSONResult</a><br />
            <a href="Home/StudentList">Student Data Using PartialView</a><br />
        </div>
    </div>
</div>
