
@{
    ViewData["Title"] = "StudentAsView";
}

<h2>Student (as View)</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(ViewData["message"])
        </div>
    </div>
</div>

