@{
    ViewData["Title"] = "StudentSecured";
}

<h2>Student - Secured</h2>
<div class="container">

    <div class="row">
        <div class="col-sm-4">Name</div>
        <div class="col-sm-8">Walter Isaacs</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Class</div>
        <div class="col-sm-8">7B</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Address</div>
        <div class="col-sm-8">8-9, 5th Cross, 36th Street, Ash Town</div>
    </div>
</div>

